@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.nav a {
  text-decoration: none;
  color: #555
}

h1, h2, .nav {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

h1, .nav {
  font-size: 32px;
}

h1 {
  margin: 60px 0 25px 0;
}

h2 {
  font-size: 24px;
  padding: 20px 20px 0 20px;
}

p {
  padding: 20px;
}

.nav {
  list-style-type: none;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: 26px;
  text-align: center;
  color: #444;
}

.nav li {
  display: inline-block;
  padding: 20px 40px;
  text-transform: uppercase;
}

.nav li:hover {
  background-color: #eee;
  color: #222;
}

.project-container {
  width: 1010px;
  margin: 40px auto;
  padding: 20px;
  background-color: #444;
}

.project {
  height: 320px;
  width: 280px;
  background-color: #aaa;
  /*padding: 20px;*/
  margin: 20px;
  display: inline-block;
}

/*not sure why this didn't work???
*//*.project:hover {
  background-color: #eee;
}*/

.project-image {
  height: 160px;
  width: 280px;
  background-color: #555;
}

.project-info {
  height: 160px;
  width: 280px;
  background-color: #777;
}

/* Break point - drops from 3 to 2 columns */
@media (max-width: 1023px) {
  .project-container {
    width: 690px;
  }
}

/* Break point - drops from 2 to 1 columns */
@media (max-width: 709px) {
  .project-container {
    width: 360px;
  }
  .nav {
    font-size: 18px;
  }
  .nav li {
  padding: 20px 20px;
  }
}
