html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Merriweather", serif;
    text-align: center;
    color: #56564e;
    line-height: 1.4;
}

nav ul {
    padding: 10px;
    background-color: #709d9e;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li a {
    color: #EEE;
}

.fixed-nav {
    position: fixed;
    /*top: 0;*/
    width: 100%;
}

.header-band, .footer-band {
    height: 5px;
    background-color: #709d9e;
}

.footer-break {
    height: 40px;
}

.title {
    font-size: 2.6em;
    padding: 90px 0 0;
    font-weight: 900;
    color: #56564e;
    line-height: 1.1;
}
.sub-title {
    font-size: 1.8em;
    font-weight: 300;
    margin-bottom: -30px;
}

a {
    text-decoration: none;
    color: #555;
}

h4 a {
    text-decoration: underline;
}

.regular-width {
    margin: 0 auto;
    width: 610px;
    line-height: 1.6;
    font-size: 1em;
    text-align: left;
}

.regular-width p {
    padding: 0;
    margin: 0 0 15px;
}

.regular-width h1, .table-center {
    text-align: center;
}

/*.regular-width p a {*/
.regular-width p a, .regular-width tbody a {
    color: #709d9e;
    text-decoration: underline;
}

.regular-width .small-button a {
    color: #eee;
    text-decoration: none;
}

.regular-width a h2, .regular-width a h1 {
    color: #56564e;
    text-decoration: none;
}

.small-button a {
    color: #fff;
    background-color: #709d9e;
    padding: 10px 35px 10px;
    border-radius: 3px;
    margin: 30px 30px 30px 0;
    text-decoration: none;
}

h1, h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 2em;
    margin: 60px 0 25px 0;
}

.regular-width h2 {
    border-top: 1px dotted #709d9e;
    margin: 50px 0 20px 0;
}

h2 {
    margin: 30px 0 10px;
    padding: 25px 0 0 0;
}

a h2 {
    font-size: 1.6em;
    color: #56564e;
    text-transform: none;
    text-decoration: none;
}

h3 {
    font-size: 1.2em;
    padding: 20px 20px 0 20px;
    color: #709d9e;
}

.project-container {
    width: 100%;
    margin: 40px auto;
    padding: 20px;
    background-color: #dcdedf;
}

.project-container p {
    padding: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
}

.project {
    height: 320px;
    width: 280px;
    background-color: #fff;
    padding: 5px;
    /*margin: 20px;*/
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
}

div.project:hover {
    background-color: #709d9e;
}

.project-image {
    height: 155px;
    width: 270px;
    background-color: #555;
}

.project-info {
    height: 155px;
    width: 270px;
    background-color: #fff;
    padding: 20px;
}



/*********************************************************/
/* TABLES
**********************************************************/

table {
    font-size: 15px;
}

caption {
    display: none;
}

thead th {
    background: #709d9e;
    color: #fff;
}

th td { text-decoration: bold; }

th, td {
    padding: 10px;
}

tr:nth-child(even) {
    background: #e8eeef;
}

tfoot td {
    color: #888;
    font-size: 13px;
}

/*********************************************************/
/* MEDIA QUERIES
**********************************************************/

/* Smaller title and headings */
@media (max-width: 709px) {
    .title {
        font-size: 28px;
        padding: 70px 0 5px 5px;
    }
    .sub-title {
        font-size: 15px;
    }
    h1 {
        font-size: 22px;
        margin: 55px 0 25px 0;
    }
    .regular-width {
        width: 80%;
    }
}

/* Smaller and more compact text */
@media (max-width: 479px) {
    .regular-width {
        margin: 0 auto;
        line-height: 1.6;
        font-size: 0.9em;
        width: 92%;
    }
}
